name: Build and Distribute Flutter APKs
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. التحقق من الكود
      - name: Checkout code
        uses: actions/checkout@v2

      # 2. إعداد JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. إعداد Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0'
          channel: stable

      # 4. تحميل التبعيات
      - name: Flutter pub get
        run: flutter pub get

      # 5. بناء APK للـ dev flavor
      - name: Build --flavor devFlavor
        run: flutter build apk --flavor devFlavor --target=lib/main_dev.dart --split-per-abi 

      # 6. تحميل النسخ كـ Artifacts
      - name: Upload Unsigned APKs
        uses: actions/upload-artifact@v3
        with:
           name: Unsigned APKs
           path: |
             build\app\outputs\flutter-apk\app-armeabi-v7a-devflavor-release.apk
             build\app\outputs\flutter-apk\app-arm64-v8a-devflavor-release.apk
      # 7. توزيع النسخ عبر Firebase
      #! armeabi-v7a
      - name: Upload armeabi-v7a to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
          groups: armeabi-v7a
          file: build/app/outputs/flutter-apk/app-armeabi-v7a-devflavor-release.apk
          releaseNotes: "armeabi-v7a"
      #! arm64-v8a
      - name: Upload arm64-v8a to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
          groups: arm64-v8a
          file: build/app/outputs/flutter-apk/app-arm64-v8a-devflavor-release.apk    
        